nav li.current-page a {
    color: var(--color-theme);
    background-color: var(--color-active);
    pointer-events: none;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    text-decoration: none;
  }